@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */

body {
    /*font:noto-serif-jp-regular*/
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
}


a,
a:hover,
a i {
  transition: all .3s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;

}

li {
  list-style: none;
}


/* フォント
------------------------------------------ */

.noto-serif-jp-medium {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.noto-serif-jp-semibold {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-regular {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* 使いまわす設定
------------------------------------------ */


/* ヘッダー
------------------------------------------ */

.header__container{
  height: 450px;
  background-image: url("../images/mv_sp_02.jpg");
  object-fit: cover;
}

.header__heading span{
  display:  block;
}