@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */

/**{
	outline:solid 1px #000;
}*/

body {
	/*font:noto-serif-jp-regular*/
	font-family: "Noto Serif JP", serif;
	font-weight: 400;
	font-style: normal;

	letter-spacing: 1px;
}

a {
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
	text-decoration: none;
}


a,
a:hover,
a i {
	transition: all .3s;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;

}

li {
	list-style: none;
}

span {
	display: block;
}

/*コンテンツ幅を超える幅の時、余白ができるように調整*/
/*
main {
	padding: 0 clamp(0rem, -12.155rem + 49.87vw, 11.75rem);
}

@media(min-width:768px) {
	main{
		padding: 0;
	}
}

@media(min-width:1500px) {
	main {
		padding: 0 clamp(0rem, -55.804rem + 59.52vw, 15.625rem);
	}
}
*/
/* フォント
------------------------------------------ */

.noto-serif-jp-medium {
	font-family: "Noto Serif JP", serif;
	font-weight: 500;
	font-style: normal;
}

.noto-serif-jp-semibold {
	font-family: "Noto Serif JP", serif;
	font-weight: 600;
	font-style: normal;
}

.marcellus-regular {
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
}

.eb-garamond-medium {
	font-family: "EB Garamond", serif;
	font-weight: 500;
	font-style: normal;
}

.eb-garamond-bold {
	font-family: "EB Garamond", serif;
	font-weight: 700;
	font-style: normal;
}


/* 使いまわす設定
------------------------------------------ */
.container {
	margin: 50px 17px;
}

@media(min-width:768px) {
	.container {
		margin: 50px 15%;
	}
}

/*セクションタイトル*/
.section-title {
	text-align: center;
	margin-bottom: 30px;
}

.section-title__en {
	font-size: 31px;
	margin-bottom: 2px;
}

@media(min-width:768px) {
	.section-title__en {
		font-size: 45px;
		margin-bottom: 5px;
	}

	.section-title__ja {
		font-size: 19px;
	}
}


/*shop-buttons*/
.shop-buttons .container {
	background-color: #f0f4ff;
	text-align: center;
	padding: 25px 18px;

	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 18px;
}

.shop-buttons__item-name {
	font-size: 18px;
	letter-spacing: 2px;
}

.shop-buttons__item-price {
	font-size: 14px;
	margin-top: 4px;
	color: #111;
}

/*ボタン部分*/
.shop-buttons__button a {
	color: #fff;
	width: 300px;
	padding: 17px 30px;
	border-radius: 3rem;
	font-size: 17px;
}

.shop-buttons__buttons-container {
	display: flex;
	flex-direction: column;
	row-gap: 17px;
}

/*色指定：通常時*/
.shop-buttons__online-shop a {
	background-color: #46c4db;
	border: solid 2px #46c4db;

}

.shop-buttons__buy a {
	background-color: #5dd5ab;
	border: solid 2px #5dd5ab;

}

/*色指定：マウスオーバー時*/
.shop-buttons__button a:hover {
	background-color: #fff;
}

.shop-buttons__online-shop a:hover {
	color: #46c4db;
}

.shop-buttons__buy a:hover {
	color: #5dd5ab;
}

/*shop-button:PC表示*/
@media(min-width:768px) {
	.shop-buttons .container {
		flex-direction: row;
		column-gap: 70px;
		justify-content: center;
		flex-wrap: wrap;

		margin: 40px 15%;
		padding: 35px 10px;
	}

	/*商品タイトル部分*/
	.shop-buttons__item {
		text-align: left;
	}

	.shop-buttons__item-name {
		font-size: 25px;
		white-space: nowrap;
	}

	.shop-buttons__item-price {
		font-size: 16px;
	}


	/*ボタン部分*/
	.shop-buttons__buttons-container {
		flex-direction: row;
		column-gap: 30px;
		flex-wrap: wrap;
		justify-content: center;
	}
}


/* header
------------------------------------------ */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.header__container {
	text-align: center;
}

.header__site-name {
	font-size: 25px;
	letter-spacing: 5px;
	padding: 20px 0;
	z-index: 2;
}

@media(min-width:768px){
	.header__site-name{
		font-size:28px;
	}
}

.header__default {
	background-color: rgba(255, 255, 255, .8);
}

/* main-visual
------------------------------------------ */
.main-visual__container {
	padding: 50px clamp(1.063rem, -4.304rem + 22.02vw, 6.25rem) 0;
	background-image: url("../images/mv_sp_02.jpg");
	background-position: 50% 0;
	object-fit: cover;
}

/*PC*/
@media(min-width:768px) {
	.main-visual__container {
		background-image: url("../images/mv_pc_01.jpg");
		height: 720px;
		padding: 50px clamp(3.75rem, -13.125rem + 27vw, 12.188rem) 0;
	}
}

/*タイトル部分*/
.main-visual__heading {
	padding-top: 370px;
}

.main-visual__item-name {
	font-size: 45px;
	letter-spacing: 11px;
}

.main-visual__subtext {
	margin-top: 10px;
	letter-spacing: 6px;
	font-size: 22px;
}

/*PC*/
@media(min-width:768px) {
	.main-visual__heading {
		padding-top: 200px;
	}

	.main-visual__item-name {
		font-size: 54px;
		letter-spacing: 15px;
	}

	.main-visual__subtext {
		font-size: 28px;
		margin-top: 13px;
	}
}

/* feature
------------------------------------------ */
.feature {
	height: 680px;
	background-image: url("../images/index_feature_sp_04.jpg");
	background-position: 50%;
	object-fit: cover;
	color: #fff;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.feature .container{
	width:356px;
}

.feature__heading {
	text-align: center;
	margin-bottom: 17px;
}

.feature__heading-en {
	font-size: 30px;
	margin-bottom: 10px;
}

.feature__heading-ja {
	font-size: 25px;
}

.feature__text {
	font-size: 14px;
	line-height: 2.25;
}

/*PC*/

@media(min-width:768px) {
	.feature {
		height: 550px;
		background-image: url("../images/index_feature_pc_03.jpg");
	}

	.feature .container {
		width: 510px;
		margin-top: clamp(7.188rem, 6.86rem + 0.68vw, 7.5rem);
		margin-left: clamp(8.063rem, -37.577rem + 95.08vw, 51.563rem);
		padding:0 30px;
	}

	.feature__heading {
		text-align: left;
	}

	.feature__heading-en {
		font-size: 38px;
	}

}

/* voices
------------------------------------------ */

.voices .container {
	margin: 50px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*PC*/
@media(min-width:768px) {
	.voices .container {
		margin: 50px 16% 80px;
	}
}

.voices__customers-list{
	width: 356px;
}

@media(min-width:768px){
	.voices__customers-list{
		width:100%;
	}
}

.voices__customer-container {
	margin: 20px;
	padding: 30px 20px;
	background-color: #dbf7f9;
	flex-direction: column;
	align-items: center;
}

.voices__customer-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.voices__customer-info img {
	margin-bottom: 7px;
}

.voices__text {
	font-size: 14px;
	line-height: 2;
	letter-spacing: 0;
}

/*PC*/
@media(min-width:768px) {
	.voices__text {
		font-size: 16px;
		line-height: 1.75;
	}
}

/*slick設定*/
.slick-initialized .slick-slide {
	display: flex;
}

.slick-list {
	z-index: -1;
}

/*slick arrow部分*/
.custom-arrows {
	background-color: #00afbf;
	border-radius: 10rem;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
}

.custom-arrows i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	color: #fff;
}

.custom-arrows__prev {
	left: -16px;
}

.custom-arrows__next {
	right: -16px;
}

/*PC*/
@media(min-width:768px) {
	.custom-arrows {
		top: 45%;
		width: 45px;
		height: 45px;
	}

	.custom-arrows i {
		font-size: 40px;
	}

	.custom-arrows__prev {
		left: -57px;
	}

	.custom-arrows__next {
		right: -57px;
	}

}

/*ドット部分*/
.slick-dots {
	bottom: -12px;
}

.slick-dots li {
	width: 10px;
}

.slick-dots li button:before {
	font-size: 11px;
	color: #eee;
	opacity: 1;
}

.slick-dots li.slick-active button:before {
	color: #00afbf;
	opacity: 1;
}

/*PC*/
@media(min-width:768px) {
	.slick-dots {
		bottom: -18px;
	}
}

/* qa
------------------------------------------ */

.qa {
	background: linear-gradient(to right, #f4ffe8, #c6f0fe);
	display: flex;
	justify-content: center;
}

.qa .container {
	margin-top: 35px;
	margin-bottom: 15px;
}

/*アコーディオンメニュー*/
.qa__accordion {
	overflow: hidden;
	margin-bottom: 20px;
	width:356px;
}

@media(min-width:768px) {
	.qa__accordion {
		width: 600px;
	}
}

/* アコーディオンのタイトル部分 */
.qa__accordion-title {
	margin: 0;
	background-color: #fff;
	cursor: pointer;
	display: flex;

}

.qa__accordion-title div,
.qa__accordion-title p,
.qa__accordion-title i {
	pointer-events: none;
}

.qa__accordion-title i {
	margin-top: 10px;
}

.qa__accordion-heading {
	margin-right: 10px;
}

/* アコーディオンのコンテンツ部分 */
.qa__accordion-content {
	display: none;
	/* 初期状態は非表示 */
	background-color: #fff;
}

.qa__accordion-question,
.qa__accordion-answer {
	display: flex;
	font-size: 14px;
}

.qa__accordion-question {
	padding: 15px 13px;
}

.qa__accordion-answer {
	padding: 0 13px 25px;
}

.qa__accordion-heading {
	font-size: 15px;
}

@media(min-width:768px) {
	.qa__accordion-question i {
		margin-right: 0;
		margin-left: auto;
		margin-top: 0;
	}
}

/*Q&A本文*/
.qa__accordion-text {
	line-height: 1.75;
	letter-spacing: 0;
	font-size: 15px;
}

.qa__accordion-question .qa__accordion-text {
	color: #444;
}


/* footer
------------------------------------------ */

/*上に戻るボタン*/

.footer__back-to-top {
	text-align: right;
	margin-right: 20px;
	margin-left: auto;
}

.footer__back-to-top-inner a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: #0071ce;
}

.footer__back-to-top i {
	color: #fff;
	font-size: 33px;
}

@media(min-width:768px) {
	.footer__back-to-top {
		margin-right: 150px;
	}

}

/*フッター本体*/
.footer__container {
	background-color: #0071ce;
	color: #fff;
	text-align: center;
	padding: 23px 40px;
	white-space: nowrap;
}

.footer__site-name {
	font-size: 28px;
	letter-spacing: 6px;
}

.footer__nav ul {
	display: flex;
	column-gap: 24px;
	margin: 25px 0;
	justify-content: center;
}

.footer__nav ul li a {
	color: #fff;
	font-size: 12px;
}

.footer__copyright {
	font-size: 9px;
}

/*PC*/
@media(min-width:768px) {
	.footer__container {
		padding: 30px clamp(1.625rem, -8.473rem + 21.04vw, 11.25rem);
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 50px;
	}

	.footer__site-name {
		font-size: 31px;
		letter-spacing: 9px;
	}

	.footer__nav ul {
		flex-wrap: wrap;
		row-gap:10px;
		justify-content: left;
	}

	.footer__nav ul li a {
		font-size: 13px;
	}

	.footer__copyright {
		font-size: 11px;
		white-space:inherit;
	}
}